@import url('https://fonts.googleapis.com/css2?family=Bungee+Hairline&family=Lato&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* outline: 1px solid blue; */
}

body {
    display: grid;
    grid-template-rows: auto auto auto 1fr auto;
    font-family: Calibri;
    background: var(--color-background);
    color: var(--color-text);
    width: min(calc(100% - 2em), 600px);
    margin-inline: auto;
    height: 100vh;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1 {
    font-family: 'Bungee Hairline', cursive;
    /* font-size: clamp(1.5em, 6vw, 4em); */
    font-size: 2em;
    line-height: 1.25em;
    padding-block: .75em;
}

footer {
    display: grid;
    border-top: 2px solid currentColor;
    height: 5rem;
    align-items: center;
}

/* LAYOUT */
summary {
    border-top: 4px solid;
    min-width: 200px;
    padding: 0.5em 0;
    position: relative;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: .5em;
}

summary code {
    flex-grow: 1;
}
summary :last-child {
    margin-right: 2ch;
}

summary:after {
    content: "+";
    position: absolute;
    font-size: 1.75em;
    right: 0;
    font-weight: 200;
    transform-origin: center;
    transition: 40ms linear;
}
details[open] > summary:after {
    transform: rotate(45deg);
}

.timestamp-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: monospace;
}
#timestamp {}

nav {
    display: flex;
    margin-block: 1em;
}

section {
    max-width: 600px;
}

section[data-component] summary {
    position: sticky;
    background-color: var(--color-background);
    top: 0;
}

button[data-show-target] {
    flex-grow: 1;
    background-color: var(--color-button);
    color: inherit;
    cursor: pointer;
    font-family: monospace;
    font-size: 1.2em;
    border: none;
    border-top: 1px solid;
    border-right: 1px solid;
    border-bottom: 7px solid;
    padding: .5em;
}

button[data-show-target]:last-child {
    border-right: none;
}

button[data-show-target][selected] {
    cursor: auto;
    background-color: var(--color-background);
    border-bottom: 7px solid var(--color-background);
}

button[data-show-target]:not([selected]):hover {
    background-color: var(--color-button-hover);
}

a {
    color: inherit;
}

.hidden {
    display: none;
}

/* TABLES */
table {
    border-collapse: collapse;
    border-spacing: 0;
}
thead tr {
    border-bottom: 1px solid var(--color-text);
}
table[id^='T'] {
    border-top: 3px solid var(--color-text);
    border-bottom: 3px solid var(--color-text);
    margin-bottom: 3rem;
    font-size: .925em;
}
table[id^='T'] > tbody > tr:last-child > :where(td, th) {
    border-bottom: 1px solid var(--color-text);
}
table.heeft_totalen tr:last-of-type {
    border-top: 1px solid var(--color-text);
}
table.left_align td {
    text-align: left;
}
th, td {
    padding: .25em .5em;
    text-align: right;
}
caption {
    text-align: left;
    font-size: 0.9em;
    font-style: italic;
    padding: 0 0.25em 0.25em;
    width: 100%;
    margin-left: 0;
}
