:root {
    --color-background: hsl({{ hue_background }}, {{ sat_background }}%, 98%);
    --color-button: hsl({{ hue_button }}, {{ sat_button }}%, 93%);
    --color-button-hover: hsl({{ hue_button }}, {{ sat_button }}%, 89%);
    --color-button-active: hsl({{ hue_button }}, {{ sat_button }}%, 83%);
    --color-text: hsl({{ hue_text}}, {{ sat_text }}%, 17%);
}

.dark-theme {
    --color-background: hsl({{ hue_background }}, {{ sat_background }}%, 23%);
    --color-button: hsl({{ hue_button }}, {{ sat_button }}%, 31%);
    --color-button-hover: hsl({{ hue_button }}, {{ sat_button }}%, 36%);
    --color-button-active: hsl({{ hue_button }}, {{ sat_button }}%, 40%);
    --color-text: hsl({{ hue_text}}, {{ sat_text }}%, 98%);
}

/* VEGA CHARTS */
.vega-embed {
    margin-bottom: 1.5em;
}
.vega-bind > label {
    width: 100%;
    padding-right: 1em;
}
.vega-bind, .vega-bind label {
    display: flex;
    justify-content: space-between;
}

.vega-bind-radio {
    display: flex;
    gap: 1em;
}

/* BACK TO TOP */
.back-to-top {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    width: 2.5rem;
    height: 2.5rem;
    z-index: 999;
    background-color: var(--color-button);
    color: inherit;
    font-size: 1.25rem;
    cursor: pointer;
    font-family: monospace;
    border: 1px solid;
    border-radius: 50%;
    line-height: 1;
    opacity: .7;
}

.back-to-top:hover {
    background-color: var(--color-button-hover);
    opacity: 1;
}
.back-to-top:active {
    background-color: var(--color-button-active);
}

.hidden {
    display: none;
}
