{# -------------------------------------------------------------------------------- #}
{% set language = language | default('nl') %}
{% set local = local | default(false) %}
{% set src = '.' if local else 'https://uu-asc.github.io/csa-werkvoorraad' %}
{% set title = title | default('werkvoorraad') %}
{% set tabs = tabs | default({}) %}
{% set werkvoorraad_label = werkvoorraad_label | default('werkvoorraad') %}
{# -------------------------------------------------------------------------------- #}
{% set hue = hue | default(210) %}
{% set hue_background = hue_background | default(hue) %}
{% set hue_button = hue_button | default(hue) %}
{% set hue_text = hue_text | default(hue) %}
{# -------------------------------------------------------------------------------- #}
{% set sat = sat | default(18) %}
{% set sat_background = sat_background | default(sat) %}
{% set sat_button = sat_button | default(sat) %}
{% set sat_text = sat_text | default(sat) %}
{# -------------------------------------------------------------------------------- #}
<!DOCTYPE html>
<html lang="{{ language }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="icon" type="image/svg+xml" href="{{ src }}/static/favicon.svg">
    <link rel="icon" type="image/png" href="{{ src }}/static/favicon.png">
    <style>
    {% filter indent(width=8, first=True) %}
    {% include 'stylesheet.jinja.css' %}
    {% endfilter %}
    </style>
    <link rel="stylesheet" href="https://lcvriend.github.io/wc-multi-selector/static/prism.css">
    <link rel="stylesheet" href="{{ src }}/static/stylesheet.css">
{% if embed_vega %}
    <script src="https://cdn.jsdelivr.net/npm/vega@5"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-lite@5"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-embed@6"></script>
{% endif %}
</head>
<body>
    <header>
        <h1>{{ title }}</h1>
        <darkmode-toggle></darkmode-toggle>
        <div class="timestamp-container">
            <div>
                Update {% if language == 'nl' %}werkvoorraad{% else %}Pending work{% endif %}:
                <timestamp-display
                    timestamp="{{ ts }}"
                    threshold="4"
                    locale="{{ language }}-NL"
                    show-warning>
                </timestamp-display>
            </div>
        {% if ts_db %}
            <div>
                Update database:
                <timestamp-display
                    timestamp="{{ ts_db }}"
                    threshold="2"
                    locale="{{ language }}-NL"
                    show-warning>
                </timestamp-display>
            </div>
        {% endif %}
        </div>
    </header>
    <nav>
        <button data-show-target="werkvoorraad" selected>{{ werkvoorraad_label }}</button>
        {% if tabs %}
        {% for tab in tabs %}
        <button data-show-target="{{ tab }}">{{ tab }}</button>
        {% endfor %}
        {% endif %}
    </nav>
    <query-details-modal></query-details-modal>
    <button class="back-to-top hidden">↑</button>
    <aside></aside>
    <section data-component="werkvoorraad"></section>
    {% if tabs %}
    {% for tab, content in tabs.items() %}
    <section data-component="{{ tab }}" class="hidden">
        {{ content }}
    </section>
    {% endfor %}
    {% endif %}
    <footer>
        <a href="https://github.com/uu-asc/csa-werkvoorraad">github.com/uu-asc/csa-werkvoorraad</a>
        <div></div>
    </footer>

<!-- MARK: TIMESTAMPS -->
<script type="module">
    import { TimestampDisplay } from "{{ src }}/src/js/timestamp-display.js"
</script>

<!-- MARK: WERKVRRAAD -->
<script type="module">
    import { WerkvoorraadComponent } from "{{ src }}/src/js/werkvoorraad-component.js"
    import { ControlPanel } from "./src/js/control-panel.js"
    import { QueryDetailsModal } from "{{ src }}/src/js/query-details-modal.js"

    const spec = {{ spec | tojson }}
    const sqlMap = {{ sql_map | tojson }}
    const config = {{ config | default("") | tojson }}

    const modal = document.querySelector("query-details-modal")
    modal.setSqlMap(sqlMap)

    const werkvoorraadComponent = new WerkvoorraadComponent(spec, config)
    document.querySelector(`[data-component="werkvoorraad"]`).appendChild(werkvoorraadComponent)

    const { total, withResults } = werkvoorraadComponent.getItemCounts()
    document.querySelector("footer div").innerHTML = `items: ${withResults} / ${total}`

    const controlPanel = new ControlPanel([werkvoorraadComponent], config)
    document.querySelector('aside').appendChild(controlPanel)

    controlPanel.addEventListener('filter-change', (event) => {
        werkvoorraadComponent.applyFilter(event.detail.selections)
    })

</script>

<!-- MARK: DARK MODE -->
<script type="module">
    import { DarkModeToggle } from "{{ src }}/src/js/darkmode-toggle.js"

    document.addEventListener("color-scheme-change", event => {
        event.detail.scheme === "dark"
        ? document.body.classList.add("dark-theme")
        : document.body.classList.remove("dark-theme")
    })
</script>

{% if embed_vega %}
<!-- MARK: VEGA -->
<script type="module">
    // Define the locale options
    const timeFormatLocale = {
        "dateTime": "%a %e %B %Y %X",
        "date": "%d-%m-%Y",
        "time": "%H:%M:%S",
        "periods": ["AM", "PM"],
        "days": ["zondag", "maandag", "dinsdag", "woensdag", "donderdag", "vrijdag", "zaterdag"],
        "shortDays": ["zo", "ma", "di", "wo", "do", "vr", "za"],
        "months": ["januari", "februari", "maart", "april", "mei", "juni", "juli", "augustus", "september", "oktober", "november", "december"],
        "shortMonths": ["jan", "feb", "mrt", "apr", "mei", "jun", "jul", "aug", "sep", "okt", "nov", "dec"]
    }
    const formatLocale = {
        "decimal": ",",
        "thousands": ".",
        "grouping": [3],
        "currency": ["\u20ac\u00a0", ""]
    }

    vega.timeFormatLocale(timeFormatLocale)
    vega.formatLocale(formatLocale)

    const chartDatasets = {{ charts | tojson }}

    const renderPlots = function (chartDatasets) {
        const background = window.getComputedStyle(document.body).getPropertyValue("background-color")
        const color = window.getComputedStyle(document.body).getPropertyValue("color")
        const embedOpt = {
            "mode": "vega-lite",
            "actions": false,
            "config": {
                "background": background,
                "title": {
                    "color": color,
                },
                "style": {
                    "guide-label": {
                        "fill": color,
                    },
                    "guide-title": {
                        "fill": color,
                    },
                },
                "axis": {
                    "domainColor": color,
                    "tickColor": color,
                },
            }
        }

        for (const chart of Object.values(chartDatasets)) {
            if (!document.getElementById(chart.id)) { continue }
            vegaEmbed(`#${chart.id}`, chart.spec, embedOpt)
        }
    }

    // Listen for color scheme changes and re-render
    document.addEventListener("color-scheme-change", () => {
        renderPlots(chartDatasets)
    })

    // Initial render
    renderPlots(chartDatasets)
</script>
{% endif %}

<!-- MARK: NAVIGATION -->
<script>
    let navigation = document.querySelector("nav")
    navigation.addEventListener("click", function(event) {
        let target = event.target.dataset.showTarget
        if (target != undefined) {
            let sections = document.querySelectorAll("section[data-component]")
            sections.forEach(node => {
                let component = node.dataset.component
                component === target
                ? node.classList.remove("hidden")
                : node.classList.add("hidden")
            })
            let buttons = navigation.querySelectorAll("button")
            buttons.forEach(node => {
                let component = node.dataset.showTarget
                component === target
                ? node.setAttribute("selected", "")
                : node.removeAttribute("selected", "")
            })
        }
    })
</script>

{% if embed_tables %}
<!-- MARK: TABLES -->
<script type="module">
    import { DataViewer } from "https://flatbread-dataframes.github.io/flatbread-wc-table-display/src/viewer.js"
    import { DatasetSelector } from "https://flatbread-dataframes.github.io/flatbread-wc-table-display/src/components/dataset-selector.js"

    const tableDatasets = {{ tables | tojson }}

    for (const [key, table] of Object.entries(tableDatasets)) {
        const element = document.getElementById(key)
        if (!element) { continue }
        if (table.type === "datasets") {
            const dataSelector = new DatasetSelector()
            element.parentNode.replaceChild(dataSelector, element)
            dataSelector.data = table.data
        } else {
            const viewer = new DataViewer()
            element.parentNode.replaceChild(viewer, element)
            viewer.data = table.data
        }
    }
</script>
{% endif %}
{% if embed_calendar %}
<!-- MARK: CALENDAR -->
<script type="module">
    import { Calendar } from "https://lcvriend.github.io/wc-simple-calendar/src/calendar.js"

    const calendarDataset = {{ calendar | tojson }}

    const calendarElement = document.querySelector("year-calendar")
    calendarElement.setConfig({
        locale: "nl-NL",
        labels: {
            filters: "Filters",
            filtersAll: "Alles",
            periods: "Perioden",
            periodsAll: "Alle",
            periodsActive: "Actueel",
            events: "Gebeurtenissen",
            eventsToday: "Vandaag"
        }
    })
    calendarElement.setData(calendarDataset)
</script>
{% endif %}
<!-- MARK: GO-TO-TOP -->
<script>
    const showOnPx = 100
    const backToTopButton = document.querySelector(".back-to-top")

    const scrollContainer = () => {
        return document.documentElement ?? document.body
    }

    const goToTop = () => {
        document.body.scrollIntoView({
            behavior: "smooth",
        })
    }

    document.addEventListener("scroll", () => {
        if (scrollContainer().scrollTop > showOnPx) {
            backToTopButton.classList.remove("hidden")
        } else {
            backToTopButton.classList.add("hidden")
        }
    })

    backToTopButton.addEventListener("click", goToTop)
</script>
<script src="https://cdn.jsdelivr.net/npm/prismjs/prism.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/prismjs/plugins/autoloader/prism-autoloader.min.js"></script>
</body>
</html>
